@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --navigation-w: 40rem;
  --header-profile-w: 40rem;
  --app-body-spacing: 4.7rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAF9FF;
  font-family: 'Sora', sans-serif;
}

.app-body {
  position: relative;
  padding-right: var(--app-body-spacing);
}

/* header */

.app-header {
  width: calc(100% - var(--navigation-w));
  margin-left: var(--navigation-w);
  display: flex;
  margin-bottom: 1rem;
  height: 8.6rem;
}

.app-header-filter {
  height: 100%;
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  align-items: center;
}

textarea:focus,
input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.app-header-filter input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #27292C;
}

.app-header-filter span {
  position: absolute;
  right: 1rem;
  font-size: 2.4rem;
  color: #27292C;
}

.app-header-profile {
  height: 100%;
  width: var(--header-profile-w);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-left: var(--app-body-spacing);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-picture-wrapper {
  position: relative;
  margin-left: 1.4rem;
}

.profile-name {
  color: #27292C;
  font-weight: 400;
  font-size: 1.6rem;
  margin-left: 3.2rem;
}

.profile-picture-dot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #02AF72;
  border: 2px solid #FAF9FF;
  border-radius: 50%;
}

.profile-notifications-wrapper {
  position: relative;
  color: #27292C;
  margin-left: 3.2rem;
}

.material-symbols-rounded {
  font-size: 3.2rem;
}

.profile-notifications-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #DE1C22;
  border: 2px solid #FAF9FF;
  border-radius: 50%;
}

/* end of header */



/* navigation */
.navigation {
  width: var(--navigation-w);
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 2rem;
  box-sizing: border-box;
}

.navigation-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 3rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation-wrapper h1,
h2 {
  padding: 0;
  margin: 0;
}

.navigation-wrapper>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.navigation-wrapper header span {
  color: #FF742C;
  font-size: 7rem;
  margin-right: .8rem;
}

.navigation-wrapper header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #27292C;
}

.navigation-new-trip-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: #346AFF;
  box-shadow: 0px 8px 8px rgba(52, 106, 255, 0.15);
  border: 0;
  border-radius: 16px;
  width: 100%;
  margin-top: 3.5rem;
}

.navigation-new-trip-btn h2 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.navigation-new-trip-btn span {
  color: #FFFFFF;
  margin-left: 1rem;
}

/* menu */
.navigation-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 1rem;
  padding: 12px 16px;
  cursor: pointer;
  transition: all .3s;
}

.navigation-item:hover {
  background-color: #FAF9FF;
}

.navigation-item span {
  font-size: 2.4rem;
  color: #9AA2AC;
  transition: all .3s;
}

.navigation-item:hover span {
  color: #27292C;
}

.navigation-item h1 {
  margin-left: 1.6rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
}

/* forecast */
.navigation article {
  width: 100%;
  background: #FAF9FF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.navigation-forecast-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

.navigation-forecast-location {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigation-forecast-location h1 {
  font-weight: 700;
  font-size: 32px;
}

.navigation-forecast-location-wrapper {
  color: #9AA2AC;
}

.navigation-forecast-location-wrapper span {
  font-size: 1.2rem;
  margin-right: .3rem;
}

.navigation-forecast-location-wrapper h3 {
  font-size: 1.4rem;
}

#navigation-forecast-icon {
  font-size: 8rem;
  color: gold;
}

.navigation-forecast-location div {
  display: flex;
  align-items: center;
}


.navigation-forecast-footer {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 3.3rem;
  margin-bottom: 2.4rem;
}

.navigation-forecast-footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.3rem;
  padding-right: 2.3rem;

}

.forecaste-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.forecaste-item span {
  color: #212121;
  font-size: 2.4rem;
}

.forecaste-item h1 {
  color: #212121;
  font-size: 1.4rem;
}

.forecaste-item h2 {
  color: #9AA2AC;
  font-size: 1.2rem;
}

.navigation-footer {
  display: flex;
  align-items: center;
  color: #27292C;
  margin-bottom: 2rem;
}

.navigation-footer span {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.navigation-footer h2 {
  font-size: 1.6rem;
}

/* end of navigation */






/* app-main */
.app-main {
  width: calc(100%- var(--navigation-w));
  margin-left: var(--navigation-w);
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}



.carousel-image-slide {
  flex: .72;
  height: 30.2rem;
  box-shadow: 0px 10px 35px rgba(9, 16, 44, 0.07);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 4rem 0 4rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel-image-slide h2 {
  font-weight: 600;
  font-size: 1.6rem;
}

.carousel-image-slide h1 {
  font-weight: 700;
  font-size: 7.2rem;
  letter-spacing: .4rem;
}

.carousel-btn-wrapper {
  display: flex;
  gap: 2.4rem;
}

.carousel-btn{
  background-color: transparent;
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
  border: none;
  transition: all .4s;
  cursor: pointer;
}

.carousel-btn span{
  color: #27292C;
  font-size: 2.8rem;
}

.carousel-btn:hover{
  background-color: #fff;
  border-radius: 50%;
  width: 5.6rem;
  height: 5.6rem;
  border: none;
}

.carousel-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: .25;
  height: 30.2rem;
}

.carousel-statistics h2 {
  font-weight: 600;
  font-size: 1.6rem;
  color: #9AA2AC;
}

.carousel-facilities{
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}

.trip-statistics{
  position: relative;
  flex: 1;
}

.trip-statistics-div{
  display: flex;
  justify-content: center;
  align-items:center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFF;
  position: absolute;
  top: 0%;
  left: 40%;
}

.trip-statistics-div-1{
  transform: translate(-80%, 30%);

}

.trip-statistics-div-2{
  transform: translate(-140%, 110%);
}

.trip-statistics-div-3{
  transform: translate(-20%, 180%);
}



.destinations {
  flex: 1;
}

.destination-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.travel-date {
  flex: .25;
  height: 17.1rem;
  background-color: #FFF;
  border-radius: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.travel-date h2 {
  font-weight: 600;
  font-size: 1.6rem;
  color: #9AA2AC;
}

.travel-date h1 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #27292C;
}

.travel-date div {
  display: flex;
  justify-content: space-between;
}

.travel-date h3 {
  font-weight: 600;
  font-size: 1.4rem;
  color: #27292C;
}

.travel-date span {
  font-size: 1.4rem;
  color: #346AFF;
}





.people {
  flex: .25;
  height: 17.1rem;
  background-color: #FFF;
  border-radius: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.people h2 {
  font-weight: 600;
  font-size: 1.6rem;
  color: #9AA2AC;
}

.people h1 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #27292C;
}

.people h1 span {
  font-weight: 600;
  font-size: 1.6rem;
  color: #27292C;
}

.people div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.people h3 {
  font-weight: 600;
  font-size: 1.4rem;
  color: #27292C;
}

.people div span {
  font-size: 3.2em;
  color: #27292C;
  margin-bottom: 0;
}

.people button {
  background-color: transparent;
  padding: 0;
  display: flex;
  border: none;
}

.people div span:hover {
  color: #346AFF;
  cursor: pointer;
}


.travel-destination {
  flex: .4;
  height: 17.1rem;
  background-color: #FFF;
  border-radius: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.travel-destination h2 {
  font-weight: 600;
  font-size: 1.6rem;
  color: #9AA2AC;
}

.travel-destination h1 {
  font-weight: 700;
  font-size: 3.2rem;
  color: #27292C;
}

.travel-destination div {
  display: flex;
  justify-content: space-between;
}

.travel-destination h3 {
  font-weight: 600;
  font-size: 1.4rem;
  color: #27292C;
}

.travel-destination span {
  font-size: 1.4rem;
  color: #346AFF;
}



.todo-list-item-wrapper {
  flex: 1;
  padding-left: var(--app-body-spacing);
}

.todo-list-item-wrapper h1 {
  color: #27292C;
  font-weight: 700;
  font-size: 3.2rem;
  margin: 3.2rem 0;
  padding: 0;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  margin-bottom: .8rem;
  background-color: transparent;
  border-radius: 16px;
  padding-right: 2rem;
}

.todo-list-item-avatar {
  display: flex;
  overflow: hidden;
  transition: all .3s;
}


.todo-list-item:hover .todo-list-item-avatar {
  transform: scale(1.3);
  opacity: .8;
}

.todo-list-item:hover {
  background-color: #FFF;
  transition: .3s;
  box-shadow: 0px 10px 35px rgba(9, 16, 44, 0.07);
}

.todo-list-item h2 {
  font-weight: 400;
  font-size: 1.4rem;
  color: #27292C;

}

.todo-list-item span {
  font-weight: 400;
  font-size: 2rem;
  color: #27292C;
}



.todo-list-item-img {
  width: auto;
  height: 100%;
  border-radius: 1rem;
}


.todo-list-item-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.timeline {
  width: var(--header-profile-w);
  margin-left: var(--app-body-spacing);
}

.timeline-heading-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.timeline-heading-wrapper h1{
  font-weight: 700;
  font-size: 3.2rem;
  color: #27292C;
}

.timeline-heading-wrapper button{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 1rem;
  padding: 1.2rem 3.2rem;
  background: #27292C;
  border-radius: 1.6rem;
  color: #FFF;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
}

.timeline-heading-wrapper button span{
  color: #FFF;
  font-weight: 600;
  font-size: 2.6rem;
}


.react-calendar{
  text-align: center;
  background-color: transparent;
  border: none;
  font-family: 'Sora', sans-serif;
}
.react-calendar__navigation{
  background-color: transparent;
  margin-bottom: 3.2rem;
}
.react-calendar__navigation__arrow{
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  color: #27292C;
}
.react-calendar__navigation__label{
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  color: #27292C;
}
.react-calendar__month-view{
  font-size: 1.4rem;
  font-weight: 400;
  color: #27292C;
}
.react-calendar__month-view__weekdays{
  font-size: 1.4rem;
  font-weight: 400;
  color: #9AA2AC;
  margin-bottom: 3.2rem;
}
.react-calendar__tile{
  margin-bottom: 3.2rem;
  cursor: pointer;
  transition: .4s;
}

.react-calendar__tile:hover{
  background-color: #FFF;
}
/* end of app-main */

/* end of footer */

.footer {
  width: calc(100% - var(--navigation-w));
  margin-left: var(--navigation-w);
  background-color: yellow;
  display: none;
}

/* end of footer */